@{
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<div class="hello">
    <section class="banner-slider">
        <ul id="adaptive">
            <li><img src="~/Image/slbktv.jpg" width="1500" height="690"></li>
        </ul>
    </section>
</div>