@{
    Layout = "~/Views/Shared/_MainPageAdmin.cshtml";
}

<div class="hello">
    <br />
    <h1 style="text-align:center;">Quản lý sinh viên</h1>
    <br />
</div>

<div class="buttons">
    <button style="background-color: forestgreen;">Thêm sinh viên</button>
    <button style="background-color: black;color:white;">Tìm kiếm</button>
    <button style="background-color: deepskyblue;" onclick="location.href='@Url.Action("MainPageAdmin", "Home")'">Trở về trang chủ</button>
</div>

<style>
    button {
        padding: 10px;
        margin: 10px 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>