@{
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<div id="timer" style="text-align:center;color:gray;">
    Time left: 00:01:00
</div>

<div class="quiz">
    <form id="quizForm" action="QuizResult">
        <div class="question">
            <b>What is the capital of France?</b>
            <br />
            <input type="radio" id="paris" name="question1" value="Paris">
            <label for="paris">Paris</label>
            <br />
            <input type="radio" id="london" name="question1" value="London">
            <label for="london">London</label>
            <br />
            <input type="radio" id="rome" name="question1" value="Rome">
            <label for="rome">Rome</label>
            <br />
            <input type="radio" id="berlin" name="question1" value="Berlin">
            <label for="berlin">Berlin</label>
            <br />
            <input type="radio" id="berlin" name="question1" value="Lisbon">
            <label for="berlin">Lisbon</label>
        </div>
        <div class="question">
            <b>What is the capital of France?</b>
            <br />
            <input type="radio" id="paris" name="question2" value="Paris">
            <label for="paris">Paris</label>
            <br />
            <input type="radio" id="london" name="question2" value="London">
            <label for="london">London</label>
            <br />
            <input type="radio" id="rome" name="question2" value="Rome">
            <label for="rome">Rome</label>
            <br /> <input type="radio" id="berlin" name="question2" value="Berlin">
            <label for="berlin">Berlin</label>
            <br />
            <input type="radio" id="berlin" name="question2" value="Lisbon">
            <label for="berlin">Lisbon</label>
        </div>
        <div class="question">
            <b>What is the capital of France?</b>
            <br />
            <input type="radio" id="paris" name="question3" value="Paris">
            <label for="paris">Paris</label>
            <br />
            <input type="radio" id="london" name="question3" value="London">
            <label for="london">London</label>
            <br />
            <input type="radio" id="rome" name="question3" value="Rome">
            <label for="rome">Rome</label>
            <br />
            <input type="radio" id="berlin" name="question3" value="Berlin">
            <label for="berlin">Berlin</label>
            <br />
            <input type="radio" id="berlin" name="question3" value="Lisbon">
            <label for="berlin">Lisbon</label>
        </div>
        <div class="question">
            <b>What is the capital of France?</b>
            <br />
            <input type="radio" id="paris" name="question4" value="Paris">
            <label for="paris">Paris</label>
            <br />
            <input type="radio" id="london" name="question4" value="London">
            <label for="london">London</label>
            <br />
            <input type="radio" id="rome" name="question4" value="Rome">
            <label for="rome">Rome</label>
            <br />
            <input type="radio" id="berlin" name="question4" value="Berlin">
            <label for="berlin">Berlin</label>
            <br />
            <input type="radio" id="berlin" name="question4" value="Lisbon">
            <label for="berlin">Lisbon</label>
        </div>
        <div class="question">
            <b>What is the capital of France?</b>
            <br />
            <input type="radio" id="paris" name="question5" value="Paris">
            <label for="paris">Paris</label>
            <br />
            <input type="radio" id="london" name="question5" value="London">
            <label for="london">London</label>
            <br />
            <input type="radio" id="rome" name="question5" value="Rome">
            <label for="rome">Rome</label>
            <br />
            <input type="radio" id="berlin" name="question5" value="Berlin">
            <label for="berlin">Berlin</label>
            <br />
            <input type="radio" id="berlin" name="question5" value="Lisbon">
            <label for="berlin">Lisbon</label>
        </div>
        <div class="question">
            <b>What is the capital of France?</b>
            <br />
            <input type="radio" id="paris" name="question6" value="Paris">
            <label for="paris">Paris</label>
            <br />
            <input type="radio" id="london" name="question6" value="London">
            <label for="london">London</label>
            <br />
            <input type="radio" id="rome" name="question6" value="Rome">
            <label for="rome">Rome</label>
            <br />
            <input type="radio" id="berlin" name="question6" value="Berlin">
            <label for="berlin">Berlin</label>
            <br />
            <input type="radio" id="berlin" name="question6" value="Lisbon">
            <label for="berlin">Lisbon</label>
        </div>
        <div class="question">
            <b>What is the capital of France?</b>
            <br />
            <input type="radio" id="paris" name="question7" value="Paris">
            <label for="paris">Paris</label>
            <br />
            <input type="radio" id="london" name="question7" value="London">
            <label for="london">London</label>
            <br />
            <input type="radio" id="rome" name="question7" value="Rome">
            <label for="rome">Rome</label>
            <br />
            <input type="radio" id="berlin" name="question7" value="Berlin">
            <label for="berlin">Berlin</label>
            <br />
            <input type="radio" id="berlin" name="question7" value="Lisbon">
            <label for="berlin">Lisbon</label>
        </div>
        <div class="question">
            <b>What is the capital of France?</b>
            <br />
            <input type="radio" id="paris" name="question8" value="Paris">
            <label for="paris">Paris</label>
            <br />
            <input type="radio" id="london" name="question8" value="London">
            <label for="london">London</label>
            <br />
            <input type="radio" id="rome" name="question8" value="Rome">
            <label for="rome">Rome</label>
            <br />
            <input type="radio" id="berlin" name="question8" value="Berlin">
            <label for="berlin">Berlin</label>
            <br />
            <input type="radio" id="berlin" name="question8" value="Lisbon">
            <label for="berlin">Lisbon</label>
        </div>
        <div class="question">
            <b>What is the capital of France?</b>
            <br />
            <input type="radio" id="paris" name="question9" value="Paris">
            <label for="paris">Paris</label>
            <br />
            <input type="radio" id="london" name="question9" value="London">
            <label for="london">London</label>
            <br />
            <input type="radio" id="rome" name="question9" value="Rome">
            <label for="rome">Rome</label>
            <br />
            <input type="radio" id="berlin" name="question9" value="Berlin">
            <label for="berlin">Berlin</label>
            <br />
            <input type="radio" id="berlin" name="question9" value="Lisbon">
            <label for="berlin">Lisbon</label>
        </div>
        <div class="question">
            <b>What is the capital of France?</b>
            <br />
            <input type="radio" id="paris" name="question10" value="Paris">
            <label for="paris">Paris</label>
            <br />
            <input type="radio" id="london" name="question10" value="London">
            <label for="london">London</label>
            <br />
            <input type="radio" id="rome" name="question10" value="Rome">
            <label for="rome">Rome</label>
            <br />
            <input type="radio" id="berlin" name="question10" value="Berlin">
            <label for="berlin">Berlin</label>
            <br />
            <input type="radio" id="berlin" name="question10" value="Lisbon">
            <label for="berlin">Lisbon</label>
        </div>
        <div class="submit">
            <br />
            <input type="submit" id="submit" value="Submit">
            <br />
        </div>
    </form>
</div>

<script>
    var timeLeft = 600;
    var timer = document.getElementById('timer');

    function formatTime(seconds) {
        var h = Math.floor(seconds / 3600);
        var m = Math.floor((seconds % 3600) / 60);
        var s = seconds % 60;
        
        return (h < 10 ? "0" : "") + h + ":" + (m < 10 ? "0" : "") + m + ":" + (s < 10 ? "0" : "") + s;
    }
    
    document.addEventListener()
    setInterval(function() {
        timeLeft--;
        timerElement.textContent = "Time left: " + formatTime(timeLeft);
        
        if (timeLeft <= 0) {
            clearInterval(timerInterval);
            document.getElementById("quizForm").submit();
        }
    }, 1000);
    
    document.getElementById("quizForm").onsubmit = function(event) {
        clearInterval(timerInterval);
    };
</script>

<style>
    .question-list {
        width: 1200px;
    }

    .submit {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .question {
        border: 1px solid gray;
        margin: 15px 15px 15px 200px;
        border-radius: 10px;
        padding: 10px;
        width: 1000px;
        height: 170px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        text-align: left;
    }

    .details {
        width: 900px;
        margin: 10px;
    }

    .enter {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 10px 10px 10px;
    }

    #submit {
        border: none;
        background-color: deepskyblue;
        border-radius: 5px;
        height: 35px;
    }
</style>